body {
  font-family: "Inter", sans-serif;
  background-color: beige;
  padding: auto;
  margin: auto;
  display: flex;
}

hr {
  opacity: 50%;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10vh;
  padding: 10px;
  width: 140vh;
  height: fit-content;
}

/* Left Side */
.left {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.big_image img {
  width: 100%;
  box-sizing: border-box;
}
.other_images img {
  cursor: pointer;
}

.big_image {
  max-width: 60vh;
  min-width: 40vh;
  height: fit-content;
  padding: auto;
  margin: 10px;
}

.big_image img {
  border-radius: 10px;
}

.other_images {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
  bottom: 0px;
}

.other_images img {
  border-radius: 7px;
}

/* Right Side */
.right {
  width: 50%;
  padding: 20px;
}

#vendor {
  opacity: 50%;
}

.amount {
  display: flex;
  flex-direction: row;
  padding: 0px;
  align-items: center;
}

#price {
  font-size: x-large;
  color: rgb(4, 42, 124);
  padding-right: 20px;
}

#discount {
  color: pink;
  font-size: 20px;
}
#compare_at_price {
  font-size: larger;
  font-weight: 200;
  opacity: 70%;
  text-decoration: line-through;
}

#choose_a_color {
  opacity: 50%;
  font-size: large;
}

.select_color {
  display: flex;
  flex-direction: row;
}

.color {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px;
  border: 2px solid transparent; /* Initially transparent */
}
.inner-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid white; /* White inner border */
  box-sizing: border-box;
  opacity: 0; /* Initially hidden */
}

#orange {
  margin-right: 10px;
  width: 50px;
  background-color: #ECDECC;
  aspect-ratio: 1;
}

#green {
  margin-right: 10px;
  width: 50px;
  background-color: #BBD278;
  aspect-ratio: 1;
}
#blue {
  margin-right: 10px;
  width: 50px;
  background-color: #BBC1F8;
  aspect-ratio: 1;
}
#pink {
  margin-right: 10px;
  width: 50px;
  background-color: #FFD3F8;
  aspect-ratio: 1;
}

/* Choose size*/


.choose_a_size {
  margin: 10px;
  /* padding: 10px; */
  display: flex;
  flex-direction: row;
  gap: 10;
}

.size {
  background-color: rgb(191, 194, 196);
  margin-right: 10px;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  padding-right: 15px;
}

/* Button , Add to Cart */

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
}

.quantity {
  display: flex;
  flex-direction: row;
  background-color: rgb(191, 194, 196);
  border-radius: 30px;
  gap: 10px;
}

.minus {
  width: 30%;
  padding: 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.count {
  width: 40%;
  padding: 16px;
  justify-content: center;
  align-items: center;
}
.plus {
  cursor: pointer;
  padding: 16px;
  width: 30%;
  justify-content: center;
  align-items: center;
}

button{
  background-color: rgb(89, 119, 219);
  margin-left: 30px;
  border-radius: 30px;
  padding: 14px;
  width: 100%;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: large;
}

#description{
  opacity: 50%;
}
#messageSpan{
  width: 50vw;
  font-weight: 400;
  margin-left: 35px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding:5px 10px;
  background-color: #ddd377;
  border-radius:  25px;
  }

/* Different screen css */

@media only screen and (max-width: 767px) {
  body {
    justify-content: center;
    align-items: center;
    /* display: flex; */
  }
  .container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  .left {
    display: flex;
    flex-direction: column;
  }
  .other_images{
    display: flex;
    flex-direction: row;
  }
  .right{
    /* padding: 20px; */
    width: fit-content;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    justify-content: center;
    align-items: center;
  }
  .container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* width: 150vh; */
  }
  .left {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }
  .other_images{
    display: flex;
    flex-wrap: wrap;
  }
  .right{
    padding: 40px;
    width: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  body {
    background-color: lightyellow;
    justify-content: center;
    align-items: center;
  }
  .container {
    justify-content: center;
    align-items: center;
  }
  .right{
    padding: 20px;
    width: 100%;
  }
}
